@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

@layer base {
	:root[data-color-theme="light"] {
		--color-primary: 226, 100%, 97%;
		--color-secondary: 226, 57%, 21%;
		--color-accent: 243, 75%, 59%;
	}
	:root[data-color-theme="dark"] {
		--color-primary: 226, 57%, 21%;
		--color-secondary: 226, 100%, 97%;
		--color-accent: 243, 75%, 59%;
	}
}
