@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

:root {
	--clr-nomadic-sand-50: 47, 90%, 96%;
	--clr-nomadic-sand-100: 49, 82%, 89%;
	--clr-nomadic-sand-200: 47, 83%, 77%;
	--clr-nomadic-sand-300: 45, 84%, 68%;
	--clr-nomadic-sand-400: 43, 84%, 56%;
	--clr-nomadic-sand-500: 37, 80%, 50%;
	--clr-nomadic-sand-600: 31, 82%, 44%;
	--clr-nomadic-sand-700: 25, 79%, 37%;
	--clr-nomadic-sand-800: 22, 71%, 31%;
	--clr-nomadic-sand-900: 21, 67%, 26%;
	--clr-nomadic-sand-950: 20, 81%, 14%;
}

@layer components {
	.link {
		transition: .3s cubic-bezier(.25, .8, .5, 1);
		display: inline;
		padding-bottom: 3px;
		color: inherit;
		text-decoration: none;
		overflow-wrap: anywhere;
		background-image: linear-gradient(to right, hsl(var(--clr-nomadic-sand-100)) 0, hsl(var(--clr-nomadic-sand-300)) 100%);
		background-repeat: no-repeat;
		background-position: left 100%;
		background-size: 0 3px;
	}

	.link:hover,
	.link-active {
		background-size: 100% 3px;
	}

	.card {
	  @apply relative bg-nomadic-sand-300 rounded-xl;
	}

	.card:before,
	.card:after {
	  content: '';
	  @apply block bg-nomadic-sand-300 w-2 h-2 absolute transition-all duration-150 ease-in-out;
	}

	.card:before {
	  @apply top-2 left-0 origin-top-left;
	  transform: rotate(-45deg) scale(0);
	}

	.card:after {
	  @apply right-2 bottom-0 origin-bottom-right;
	  transform: rotate(45deg) scale(0);
	}

	.card__body {
	  @apply block relative z-10 transition-all duration-150 ease-in-out;
	  transform: translate(0, 0);
	}

	.card:hover .card__body,
	.card:focus .card__body {
	  transform: translate(6px, -6px);
	}

	.card:hover:before,
	.card:focus:before {
	  transform: rotate(-45deg) scale(1);
	}

	.card:hover:after
	.card:focus:after {
	  transform: rotate(45deg) scale(1);
	}
}
